<h1>Need Help?</h1>

<p>
	Please find below answers to some frequently asked questions.  If your question is not answered 
	here, please <a href="http://127.0.0.1:3000/pages/contact">Contact Us</a> directly.  Thanks!
</p>

<ol>
	<li>
		I don't know what I'm doing.  Can you tell me?
		<ol>
			<li>
				No, I really can't.  Sorry.
			</li>
		</ol>
	</li>
	<li>
		What is the Planck constant?
		<ol>
			<li>
				It describes the proportonality between the energy of a photon and the frequency of its associated electromagnetic wave, 
				or: 6.626 x 10<sup>-34</sup>m<sup>2</sup>kg<sub>/s</sub>.
			</li>
		</ol>
	</li>
</ol>
